h4 {
	vertical-align: top;
	margin: 0px;
}

div {
	margin: 20px;
	border: 2px solid black;
	background-color: #81a8f7;
	display: block;
	width: 900px;
	padding: 5px 0px 0px 10px;
}

p {
	font-size: 200%;
	font-weight: bolder;
	margin-left: 20px;
}